
  <div>
    <h2> 
    <%= @photo.title %> 
    <%# con @ porque viene desde el controller en show  %>
    <%= image_tag 'photo.image_url' %>
    <%# imagetag es útil y utilizada cuando tengamos una carpeta images y quieramos mostrar esass. cuando deseamos consultar un registro individual sería /photo/{:id} %>
    </h2>
  </div>
